{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'dashboard.css'%}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>

    <nav>
        <div class="topnav">
            <div class="topnav-right">
                <div class="img-avatar">
                    <img src="/media/{{ profile.picture }}" style="width:33px;" crossorigin="anonymous">
                </div><a href="/profile-koordinatorTA">{{ profile.username }}</a>
                <a type="submit" href="/login" class="fas fa-sign-out-alt"></a>
            </div>
        </div>
    </nav>

    <div class="sidebar">
        <header>MANTA</header>
        <ul>
            <li><a href="/dashboard-koordinator-TA"><i class="fas fa-qrcode"></i>Dashboard</a></li>
            <li><a href="/pendaftaran-adm-koor-TA"><i class="fas fa-address-card"></i>Pendaftaran Administratif</a></li>
            <li><a href="/Scheduling-Koordinator-TA"><i class="fas fa-calendar-week"></i>Scheduling</a></li>
            <li><a href="/meeting-management-KTA"><i class="fas fa-sticky-note"></i>Meeting Management</a></li>
        </ul>
    </div>

    <form action="{% url 'announcement' %}" method="POST">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-25">
                </div>
                <div class="col-75">
                    <h1>Dashboard</h1><br>
                    <label for="id">id</label>
                    <input type="text" id="id_announcement" name="id">
                    <label for="title">Title</label>
                    <input type="text" id="title" name="title">
                    <label for="body">Body</label>
                    <textarea id="body" name="body"></textarea>
                </div>
            </div>
            <div class="row">
                <button type="submit" name="publish">Publish</button>
            </div>
    </form>
    </div>

</body>

</html>