{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>{% block title %}Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styledashboard.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>

    <nav>
        <div class="topnav">
            <div class="topnav-right">
                <div class="img-avatar">
                    <img src="/media/{{ profile.picture }}" style="width:33px;" crossorigin="anonymous">
                </div><a href="/profile-koordinatorTA">{{ profile.username }}</a>
                <a type="submit" href="/login" class="fas fa-sign-out-alt"></a>
            </div>
        </div>
    </nav>

    <div class="sidebar">
        {% block sidebar %}
        <header>MANTA</header>
        <ul>
            <li><a href="/dashboard-koordinator-TA"><i class="fas fa-qrcode"></i>Dashboard</a></li>
            <li><a href="/pendaftaran-adm-koor-TA"><i class="fas fa-address-card"></i>Pendaftaran Administratif</a></li>
            <li><a href="/Scheduling-Koordinator-TA"><i class="fas fa-calendar-week"></i>Scheduling</a></li>
            <li><a href="/meeting-management-KTA"><i class="fas fa-sticky-note"></i>Meeting Management</a></li>
        </ul>
        {% endblock %}
    </div>

    <div class="dashboard">
        <form>
            <h1>Dashboard</h1><br>
            <h2>Pengumuman!</h2>

            <div class="add">
                <a type="submit" href="/add" class="fas fa-plus"></a>
            </div>
            <p>Selamat datang di Dashboard Manajemen Tugas Akhir</p> <br>
            <HR> <br> {% for announcement in koordinatorTA_announcement %}

            <p class="title">{{ announcement.title}}</p>
            <p class="text">{{ announcement.body}}</p><br>
            <div class="icon">
                <a href="{% url 'deletepengumuman' announcement.pk %} " class="fas fa-trash"></a>
                <a href="{% url 'editpengumuman' announcement.pk %} " class="fas fa-edit"></a>
            </div>
            <p class="date">date : {{announcement.post_date}}</p>
            <br>
            <HR> {% endfor %}
        </form>
    </div>

</body>

</html>