<!DOCTYPE html>
<html>
    <style>
        .container  { 
        width: 350px;   
        margin: 80px auto;
        padding: 50px 30px;
        border: 2px solid black; 
        }
        input {
            padding: 1%;
            font-size: medium;
        }

    </style>
    <body>
        <form action = "{% url 'change-password' %}" method="POST">
            {% csrf_token %}
            
            <div class="container">
                <center><h1 style="color: #516BEB;">Change Password</h1></center> <br>
                <p style="font-size: larger;">Input your email</p>
                {{ form }}
                <input type="submit" value="Submit" class = 'btn btn-primary btn-lg'>
                {% if messages %}
                    {% for message in messages %}
                    <p style="color: red">{{ message }}</p>
                    {% endfor %}
                {% endif %}
                </div>
        </form>
    </body>
</html>