{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>

<head>
  <meta charset="utf-8">
  <title>{% block title %}Pendaftaran administrasi mhs{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'pendaftaran_administratif.css'%}">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="stylesheet" type="text/css" href="pendaftaran_adm.css">
</head>

<body>

  <nav>
    <div class="topnav">
      <div class="topnav-right">
        <div class="img-avatar">
          <img src="/media/{{ profile.picture }}" style="width:33px;" crossorigin="anonymous">
        </div><a href="/profile-mahasiswa">{{ profile.username }}</a>
        <a type="submit" href="/login" class="fas fa-sign-out-alt"></a>
      </div>
    </div>
  </nav>

  <div class="sidebar">
    {% block sidebar %}
    <header>MANTA</header>
    <ul>
      <li><a href="/dashboard-mahasiswa"><i class="fas fa-qrcode"></i>Dashboard</a></li>
      <li><a href="/pendaftaran_adm"><i class="fas fa-address-card"></i>Pendaftaran Administratif</a></li>
      <li><a href="/Scheduling-Mahasiswa"><i class="fas fa-calendar-week"></i>Scheduling</a></li>
      <li><a href="/meeting-management-mahasiswa"><i class="fas fa-sticky-note"></i>Meeting Management</a></li>
      <li><a href="/document-approval-mahasiswa1"><i class="fas fa-file"></i>Document Approval</a></li>
    </ul>
    {% endblock %}
  </div>


  <div class="container">
    <div class="row">
      <div class="col-25">
      </div>
      <div class="col-75"> <label for="fname"><b>PENDAFTARAN ADMINISTRATIF</b></label>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
      </div>
      <div class="col-75">
        <table>
          <thead>
            <tr>
              <th>No</th>
              <th>Nomor Kelompok</th>
              <th>Nim Anggota</th>
              <th>Program Studi</th>
              <th>Dosen Pembimbing</th>
            </tr>
          </thead>
          <tbody>
            {% if pendaftaran_mhs|length > 0 %} {% for mahasiswa in pendaftaran_mhs %}
            <tr>
              <td>{{loop.index}}</td>
              <td>{{ mahasiswa.group_number}}</td>
              <td>{{ mahasiswa.group_members}}</td>
              <td>{{ mahasiswa.study_program}}</td>
              <td>{{ mahasiswa.supervisor}}</td>
            </tr>
            {% endfor %} {% endif %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="subject">Subject</label>
      </div>
    </div>


</body>

</html>