{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<head>
    <meta charset="utf-8">
    <title>Scheduling</title>
    <link rel="stylesheet" href="{% static 'scheduling.css'%}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
    

    <nav>
        <div class="topnav">
            <div class="topnav-right">
                <div class="img-avatar">
                    <img src="/media/{{ profile.picture }}" style="width:33px;" crossorigin="anonymous">
                </div><a href="/profile-dospeng">{{ profile.username }}</a>
                <a type="submit" href="/login" class="fas fa-sign-out-alt"></a>
            </div>
        </div>
    </nav>

    <div class="sidebar">
        {% block sidebar %}
        <header>MANTA</header>
        <ul>
            <li><a href="/dashboard-dospem"><i class="fas fa-qrcode"></i>Dashboard</a></li>
            <li><a href="/pendaftaran-adm-dospem"><i class="fas fa-address-card"></i>Pendaftaran Administratif</a></li>
            <li><a href="/Scheduling-dosen-pembimbing"><i class="fas fa-calendar-week"></i>Scheduling</a></li>
            <li><a href="/meeting-management-dospem"><i class="fas fa-sticky-note"></i>Meeting Management</a></li>
            <li><a href="document-approval-dosenpembimbing"><i class="fas fa-file"></i>Document Approval</a></li>
        </ul>
        {% endblock %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-25">
            </div>
            <div class="col-75"> <label for="fname"><b>SCHEDULING</b></label>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
            </div>
            <div class="col-75">
                <table>
                    <thead>
                        <tr>
                            <th>ID Scheduling</th>
                            <th>Group Number</th>
                            <th>Group Members</th>
                            <th>Activity Name</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if Scheduling_Dosen_Pembimbing|length > 0 %} {% for dospem in Scheduling_Dosen_Pembimbing %}
                        <tr>
                            <td>{{ dospem.id_scheduling }}</td>
                            <td>{{ dospem.group_number }}</td>
                            <td>{{ dospem.group_member }}</td>
                            <td>{{ dospem.activity_name }}</td>
                            <td>{{ dospem.date }}</td>
                        </tr>
                        {% endfor %} {% endif %}
                    </tbody>

                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="subject">Subject</label>
            </div>
        </div>

</body>

</html>